@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --BackgroundColor: rgb(70, 46, 206);
    --Fonte: 'Krona One', sans-serif;
    --CorTitulo: white;
    --colorStrong: rgb(7, 11, 192);
    --variavel--hover :#495be1;
    --ColorFooter: rgb(37, 37, 247);
}

body{
    background-color: var(--BackgroundColor);
    color: var(--CorTitulo);
    box-sizing: border-box;
}

.cabecalho{
    padding: 2% 0% 0% 10%;
   
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.apresentacao{
    margin:  5%10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.titulo{
    font-family: var(--Fonte);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__conteudo__texto{
    font-family: var(--Fonte);
    font-size: 1rem;
    font-weight: 400;
}

.strong{
    color: var(--colorStrong);
}

.conteudo_principal{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.botao{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--Fonte);
    font-weight: 400;
}

.links{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 20.5px 0;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid rgb(0, 110, 255);
}

.links:hover{
    background-color: var(--variavel--hover);
    transform: scale(1.1);
    transition: all 0.2s;
}

.imagen{
    display: flex;
    justify-content: space-between;
}
.Squirtle{
    width: 100%;
}

.Squirtle:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.footer_work{
    padding: 24px;
    margin-top: 5%;
    padding: 10px;
    background-color: var(--ColorFooter);
}

.titulo_footer{
    font-family: var(--Fonte);
    font-size: 1rem;
    text-align: center;
}

@media (max-width:1200px){
    
    .cabecalho{
        padding: 10%;

    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .conteudo_principal{
        width: auto;
    }

    .links{
        width: 80%;
    }

   
}
